$white:rgb(250, 250, 250);
$light-gray:rgb(204, 204, 204);
a {
  color: #0099e8;
  text-decoration: none;
}

body{
  background: $white;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
}

input {
  background-color: $white;
}

.input-default {
  background: $white;
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 48px;
  line-height: 1.5;
  padding: 10px 16px 8px;
}

.bold {
  font-weight: 600;
}

[data-toggle='open-app'] {
  display: none;
}

[data-client='visible'] {
  display: none;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  display: table-cell;
  font-weight: bold;
  text-align: -internal-center;
  vertical-align: inherit;
}

.clearfix::after {
  clear: both;
  display: block;
}

.visible-sp {
  display: none;
}

.bold {
  font-weight: 600;
}

[data-toggle='open-app'] {
  display: none;
}

[data-client='visible'] {
  display: none;
}

.f14 {
  font-size: 14px;
}

[data-comment='body'] {
  margin: 16px 0 0;
  padding: 16px;
  background: #eee;
}

* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.search-container .items-box, .category-brand-list .items-box, .related-item-column .items-box {
  width: calc(33.3333% - 2.666666px);
  margin: 0 4px 4px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
.visible-sp {
  display: none;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

.f14 {
  font-size: 18px;
}

nav ol, nav ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.f18-24 {
  font-size: 24px;
}