a {
  color: #0099e8;
  text-decoration: none;
}

body{
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333;
}

input {
  background-color: white;
}

.input-default {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 48px;
  padding: 10px 16px 8px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

.bold {
  font-weight: 600;
}
[data-toggle='open-app'] {
  display: none;
}
[data-client='visible'] {
  display: none;
}

[data-comment='body'] {
  margin: 16px 0 0;
  padding: 16px;
  background: #eee;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

.clearfix:after {
  display: block;
  clear: both;
}

