%footer.signup__footer
  .signup__footer__nav
    %ul.signup__footer__nav__links
      %li
        %a{href: "/", class: "signup__footer__nav__link"} プライバシーポリシー
      %li
        %a{href: "/", class: "signup__footer__nav__link"} メルカリ利用規約
      %li
        %a{href: "/", class: "signup__footer__nav__link"} 特定商取引に関する表記
    = link_to root_path do
      = image_tag 'mercari_logo_vertical', class: 'signup__footer__nav__logo'
    %p.signup__footer__nav__text
      © 2019 Mercari