.mypage__container
  .mypage__container__box
    .mypage__container__box__side-bar
    .mypage__container__box__content
      %section.mypage__container__box__content__icon
        %a.mypage__icon__box{href: ""}
          %figure
            %img{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
          %h2.mypage__user-name
            みね
          .mypage__user__info
            .mypage__user__info__value
              評価
              %span.mypage__value__num
                2
            .mypage__user__info__item
              商品数
              %span.mypage__item__num
                16
      %section.mypage__container__box__content__upper
        %ul.mypage__container__box__content__upper__menu
          %li.mypage__container__box__content__upper__menu__left
            %h3.mypage__user__news
              %a.mypage__user__news__link{href: "" }
                お知らせ
          %li.mypage__container__box__content__upper__menu__right
            %h3.mypage__user__todo
              %a.mypage__user__todo__link{href:""}
                やることリスト
        .mypage__container__box__content__upper__list
          %ul.mypage__container__box__content__upper__list__news
            %li.mypage__container__box__content__upper__list__news__flame
              %a.mypage__news{href:""}
                %figure.mypage__mercari__logo
                  %img{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
                .mypage__news__body
                  .mypage__news__body__text
                    《まもなく終了！》今なら最大”P1500”もらえる！詳しくはこちらから♪
                  %time
                    %i.mypage__clock__icon
                      ●
                    %span
                      22時間前
                %i.mypage__click__icon
                  >
            %li.mypage__tab__list__btn
              %a.mypage__tab__list__btn__text{href:""}
                一覧をみる
          -# %ul.mypage__tab__list__todo
          -#   %li.mypage__item__notihng
          -#     現在、やることはありません   
      %section.mypage__container__box__content__bottom
        %h2.mypage__container__box__content__bottom__header
          購入した商品
        %ul.mypage__container__box__content__bottom__menu
          %li.mypage__container__box__content__bottom__menu__left
            %h3.mypage__container__box__content__bottom__menu__left__now-trade
              %a.mypage__container__box__content__bottom__menu__left__now-trade__link{href:""}
                取引中
          %li.mypage__container__box__content__bottom__menu__right
            %h3.mypage__container__box__content__bottom__menu__right__past-trade
              %a.mypage__container__box__content__bottom__menu__right__past-trade__link{href:""}
                過去の取引
        .mypage__container__box__content__bottom__tag
          %ul.mypage__container__box__content__bottom__tag__list
            %li.mypage__container__box__content__bottom__tag__list__text
              取引中の商品がありません
          -# %ul.mypage__tab__past
          -#   %li.mypage__item__nothing
          -#     過去に取引した商品はありません

