.sell__wrapper
  %header.sell__header
    %a{ href: "" }
    .mercari__icon
    %img{ src:  "" }/
  .sell__item_clearfix
    .sell__info
      .sell__banner
        %h4 商品の情報を入力
    .sell__photo
      %h4 
        出品画像
        %span 必須
      %h5 最大10枚までアップロードできます
      .sell__box
        %h5 ドラッグアンドドロップ
        %h5 またはクリックしてファイルをアップロード
      .sell__eroor_message
        %h5 画像がありません
    .sell__item_boxone
      .sell__item
        %h4 
          商品名
          %span 必須
      .sell__item_write
        %h5 商品名（必須：最大40文字まで）
      .sell__eroor_message
        %h5 入力してください
      .sell__item__description
        %h4 
          商品の説明
          %span 必須
      .sell__item__description_write
        %h5 商品の説明（必須：最大1,000文字まで）
      .sell__eroor_message
        %h5 入力してください
    .sell__item_boxtwo
      %h5 商品の詳細
      .sell__item_boxindex
        .sell__itemcat
          %h4 
            カテゴリー
            %span 必須
        .sell__itemcatbox
        .sell__eroor_message
          %h5 選択してください
        .sell__itemstate
          %h4 
            商品の状態
            %span 必須
        .sell__itemstatebox
        .sell__eroor_message
          %h5 選択してください
    .sell__delivery
      %h5 配送について
      %img{ src:  "" }/
      .sell__delivery_boxindex
        .sell__delivery_charge
          %h4 
            配送料の負担
            %span 必須
        .sell__delivery_chargebox
        .sell__eroor_message
          %h5 選択してください
        .sell__delivery_region
          %h4
            発送元の地域
            %span 必須
        .sell__delivery_regionbox
        .sell__eroor_message
          %h5 選択してください
        .sell__delivery_days
          %h4 
            発送までの日数
            %span 必須
        .sell__delivery_daysbox
        .sell__eroor_message
          %h5 選択してください
    .sell__price
      %h5 販売価格(300〜9,999,999)
      %img{ src:  "" }/
      .sell__price_boxindex
        .sell__price_charge_clearfix
          .sell__price_charge_left
            %h4 
              価格
              %span 必須
          .sell__price_charge_right
            %span ¥
        .sell__eroor_message
          %h5 300以上9999999以下で入力してください
        .sell__price_chargebox
        .sell__price_fee
          %h5 販売手数料 (10%)
          .sell__price_feebox
        .sell__sales_profit
          %h4 販売利益
          .sell__sales_profitbox
    .sell__tips
      %h5 
        %span<> 禁止されている出品
        、
        %span<> 行為
        を必ずご確認ください。
      %h5 
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        %span<> 偽ブランド
        の販売は犯罪であり処罰される可能性があります。
      %h5 
        また、出品をもちまして
        %span<> 加盟店規約
        に同意したことになります。
    .sell__btn
      %h5 出品する
    .sell__return_btn
      %h5 もどる
  %footer.sell__footer
    .sell__rules
      %h6 プライバシーポリシー
      %h6 メルカリ利用規約
      %h6 特定商取引に関する表記
    .sell__footer_right_one
      %img{ src:  "" }/
    .sell__last_year
      %h6 © 2019 Mercari

