.syuppin__wrapper
  %header.syuppin__header
    %a{href: ""}
    .mercari__icon
    %img{ src:  "" }/
  .syuppin__item_clearfix
    .syuppin__info
      .syuppin__banner
        %h4 商品の情報を入力
    .syuppin__photo
      %h4 
        出品画像
        %span 必須
      %h5 最大10枚までアップロードできます
      .syuppin__box
        %h5 ドラッグアンドドロップ
        %h5 またはクリックしてファイルをアップロード
      .syuppin__eroor_message
        %h5 画像がありません
    .syuppin__item_boxone
      .syuppin__item
        %h4 
          商品名
          %span 必須
      .syuppin__item_write
        %h5 商品名（必須：最大40文字まで）
      .syuppin__eroor_message
        %h5 入力してください
      .syuppin__item__description
        %h4 
          商品の説明
          %span 必須
      .syuppin__item__description_write
        %h5 商品の説明（必須：最大1,000文字まで）
      .syuppin__eroor_message
        %h5 入力してください
    .syuppin__item_boxtwo
      %h5 商品の詳細
      .syuppin__item_boxindex
        .syuppin__itemcat
          %h4 
            カテゴリー
            %span 必須
        .syuppin__itemcatbox
        .syuppin__eroor_message
          %h5 選択してください
        .syuppin__itemstate
          %h4 
            商品の状態
            %span 必須
        .syuppin__itemstatebox
        .syuppin__eroor_message
          %h5 選択してください
    .syuppin__delivery
      %h5 配送について
      %img{ src:  "" }/
      .syuppin__delivery_boxindex
        .syuppin__delivery_charge
          %h4 
            配送料の負担
            %span 必須
        .syuppin__delivery_chargebox
        .syuppin__eroor_message
          %h5 選択してください
        .syuppin__delivery_region
          %h4
            発送元の地域
            %span 必須
        .syuppin__delivery_regionbox
        .syuppin__eroor_message
          %h5 選択してください
        .syuppin__delivery_days
          %h4 
            発送までの日数
            %span 必須
        .syuppin__delivery_daysbox
        .syuppin__eroor_message
          %h5 選択してください
    .syuppin__price
      %h5 販売価格(300〜9,999,999)
      %img{ src:  "" }/
      .syuppin__price_boxindex
        .syuppin__price_charge_clearfix
          .syuppin__price_charge_left
            %h4 
              価格
              %span 必須
          .syuppin__price_charge_right
            %span ¥
        .syuppin__eroor_message
          %h5 300以上9999999以下で入力してください
        .syuppin__price_chargebox
        .syuppin__price_fee
          %h5 販売手数料 (10%)
          .syuppin__price_feebox
        .syuppin__sales_profit
          %h4 販売利益
          .syuppin__sales_profitbox
    .syuppin__tips
      %h5 
        %span<> 禁止されている出品
        、
        %span<> 行為
        を必ずご確認ください。
      %h5 
        またブランド品でシリアルナンバー等がある場合はご記載ください。
        %span<> 偽ブランド
        の販売は犯罪であり処罰される可能性があります。
      %h5 
        また、出品をもちまして
        %span<> 加盟店規約
        に同意したことになります。
    .syuppin__btn
      %h5 出品する
    .syuppin__return_btn
      %h5 もどる
  %footer.syuppin__footer
    .syuppin__rules
      %h6 プライバシーポリシー
      %h6 メルカリ利用規約
      %h6 特定商取引に関する表記
    .syuppin__footer_right_one
      %img{ src:  "" }/
    .syuppin__last_year
      %h6 © 2019 Mercari

