%nav.bread-crumbs
  %ul
    %li 
      %a 
        %span メルカリ
      %i.icon-arrow-right
        >
    %li 
      %a 
        %span マイページ
      %i.icon-arrow-right
        >
    %li 
      %a 
        %span 本人情報の登録