$color-bg-gray: #f5f5f5;
$color-white: #fff;
$color-red: #ea362e;

.has-error-text {
  color: $color-red;
  line-height: 1.5;
  font-size: 14px;
  li {
    margin-top: 8px;
  }
}

.registration-container {
  background-color: $color-bg-gray;
  color: #333;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  height: 100vh;
}

.registration-header {
  width: 100vw;
  height: 128px;
  background-color: $color-bg-gray;
  display: flex;
  justify-content: center;
  &--active {
    color: $color-red;
    font-weight: bold;
  }
  &__logo {
    display: block;
    padding-top: 30px;
    &__img {
      width: 230px;
    }
  }
  &__progress-bar {
    padding: 40px 0 0 44px;
    font-size: 12px;
    color: #888;
    & ol {
      display: flex;
    }
    & li {
      text-align: center;
      margin: 0 40px 0 0;
      min-width: 60px;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.progress {
  &__status {
    margin: 8px auto 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ccc;
    &:first-child {
      margin-top: 10px;
    }

    &--active {
      background-color: $color-red;
      position: relative;
      z-index: 10;
    }
  }

  &__bar {
    height: 2px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    &--before {
      top: 15px;
      right: 50%;
    }

    &--after {
      left: 50%;
      bottom: 7px;
    }

    &--active {
      background-color: #ea362e;
    }
  }
}

.registration-main {
  width: 100%;
  background-color: $color-bg-gray;
  &__container {
    margin: 0 auto;
    width: 700px;
    background-color: $color-white;
  }

  &__text {
    padding: 32px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid $color-bg-gray;
  }
}

.registration {
  &__form {
    padding: 24px 16px 40px;
    &--border {
      border-bottom: 1px solid $color-bg-gray;
    }

    &__content {
      width: 343px;
      margin: 0 auto;
      & h3 {
        font-weight: bold;
      }
    }

    &__group {
      margin: 24px 0 0 0;
      &:first-child {
        margin: 0;
      }
      & label {
        font-size: 14px;
        font-weight: bold;
      }
    }

    &--require {
      background-color: $color-red;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
    }

    & h3 {
      font-size: 16px;
      font-weight: bold;
    }

    &__input {
      height: 48px;
      width: 100%;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
      box-sizing: border-box;
      &--half {
        width: 165.5px;
        &--left {
          margin: 8px 7px 0 0;
        }
      }
    }
    &__select {
      & span {
        font-size: 14px;
      }

      & select {
        width: 76px;
        height: 48px;
        padding: 0 10px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: image-url("select-form-arrow-down.svg");
        background-repeat: no-repeat;
        background-size: 15px 45px;
        background-position: right 10px center;
        background-color: $color-white;
      }
    }

    &__select--day {
      bottom: 32px;
      left: 282px;
      position: relative;
    }

    &__select--month {
      position: relative;
      right: 138px;
    }

    &__select--year {
      position: relative;
      right: 220px;
    }

    &__select--wide select {
      width: 100%;
    }

    &__caution-text {
      margin: 8px 0 0 0;
      font-size: 14px;
      color: #888;
    }

    &__recaptcha-icon {
      width: 300px;
      padding: 30px 0 0 0;
    }

    &__text {
      font-size: 14px;
      margin: 8px 0 0;
      & a {
        color: #0099e8;
        text-decoration: none;
      }

      &--center {
        text-align: center;
      }
    }
    &__next-btn {
      text-decoration: none;
      border-radius: 0;
      margin: 24px 0 0 0;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: inherit;
      }
    }
    &__about-text {
      padding: 24px 0 0 0;
      text-align: right;
      & a {
        font-size: 14px;
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}

.signup-address {
  &__tag {
    &--optional {
      background-color: #cccccc;
    }
  }

  &__input {
    margin-top: 8px;
  }
}
.signup-payment {
  &__card-list {
    width: 100%;
    margin-top: 8px;
  }

  &__card {
    height: 20px;
    margin-right: 7px;
  }

  &__input--half {
    width: 131.5px;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: image-url("select-form-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 15px 45px;
    background-position: right 10px center;
    background-color: $color-white;
  }

  &__form__text {
    font-size: 14px;
    padding: 0 5px;
  }

  &__security-code {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
    color: #0099e8;
    font-size: 14px;
    & span {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #0099e8;
      color: #fff;
      line-height: 14px;
      font-size: 12px;
      text-align: center;
    }
  }
}

.signup-complete {
  &__text {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
  }

  &__content {
    padding-bottom: 60px;
  }

  &__image {
    width: 100%;
  }
}
