.signup-container {
  color: #333;
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
}
.signup {
  &__header {
    display: flex;
    width: 100vw;
    height: 128px;
    justify-content: center;
    align-items: center;
    &__logo {
      width: 230px;
    }
    &__logo:hover {
      opacity: 0.7;
    }
  }

  &__main {
    display: flex;
    justify-content: center;
    &__content {
      width: 700px;
      background-color: #fff;
      &__title {
        text-align: center;
        font-size: 22px;
        padding: 32px;
        border-bottom: 1px solid #f5f5f5;
      }
      &__title h2 {
        font-weight: bold;
      }
      &__form {
        padding: 40px 40px 64px;
        display: flex;
        justify-content: center;
        &__btns {
          width: 343px;
        }
        & a {
          text-decoration: none;
        }
      }
    }
  }
  &__form {
    padding: 40px 40px 64px;
    display: flex;
    justify-content: center;
    &__mail {
      color: #fff;
      position: relative;
      right: 60px;
      &--text {
        position: relative;
        right: 9px;
      }
    }
    &__facebook {
      color: #fff;
      position: relative;
      top: 5px;
      right: 75px;
      &--text {
        position: relative;
        right: 12px;
      }
    }
    &__google {
      color: #666;
      position: relative;
      right: 85px;
      &--text {
        position: relative;
        right: 9px;
      }
    }
    &__btn {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 14px;
      text-align: center;
      transition: all ease-out 0.3s;
      &--mail {
        background-color: #ea352d;
        color: #fff;
      }
      &--mail:hover {
        opacity: 0.7;
      }
      &--facebook {
        background: #385185;
        margin-top: 16px;
        color: #fff;
      }
      &--google {
        border: #979797 solid 1px;
        margin-top: 16px;
        color: #333;
      }
    }
    &__btns {
      width: 343px;
    }
    & a {
      text-decoration: none;
    }
  }
  &__footer {
    box-sizing: border-box;
    background-color: #f5f5f5;
    height: 220px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    &__nav {
      text-align: center;
      width: 456px;
      &__links {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        font-size: 12px;
      }
      &__link {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
      &__logo {
        margin: 30px auto 0;
        display: block;
        height: 80px;
        width: 80px;
        &:hover {
          opacity: 0.7;
        }
      }
      &__text {
        font-size: 13px;
      }
    }
  }
}
