$color-blue: #0099e8;
$red: #ea352d;
$white: #fff;
$color-light-gray: #eee;
$color-black: #333;
$box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .16);
$menu-shadow: rgba(0, 0, 0, .24);

.mpcheader { 
  background: $white;
  box-shadow: $box-shadow;
  position: relative;

  &-top {
    display: flex;
    height: 40px;
  }

  &-inner {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
  }

  h1 {
    display: block;
    font-weight: bold;
    margin-top: 0;
  }

  .input-default {
    display: inline-block;
    margin: 0;
  }

  &-user-nav {
    div {
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
    }
  }

  &-user-icon {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
  }

  &-nav {
    font-size: 0;
    display: inline-block;

    .fas{
      color: red;
    }

    .fa-tag{
      transform:rotate(-45deg)
    }

    span:hover {
      color: $color-blue;
    }

    h2 {
      font-size: 14px;
      font-weight: bold;
    }

    li {
      position: relative;
      display: inline-block;
      padding: 0 11px;
      cursor: pointer;
    }

    &-list:first-child {
      padding-left: 0;
    }

    &-box {
      margin: 8px 0 0;
      height: 44px;

      .large-left {
        float: left;
        padding: 10px 0;
      }

      .large-right {
        float: right;
      }
    }
  }

  &-user {
    &-nav {
      font-size: 0;
      display: inline-block;
      height: 40px;

      li {
        position: relative;
        display: inline-block;
        cursor: pointer;
        padding: 0 14px;
        a span {
          margin-left: 10px;
          font-size: 14px;
        }
      }
    }

    &-btn {
      display: flex;
    }

    &-login {
      background-color: $white;
      border: 1px solid $color-blue;
      border-radius: 4px;
      color: $color-blue;
      display: block;
      line-height: 30px;
      list-style: none;
      margin: 0 0 0 8px;
      text-align: center;
      width: 78px;
    }
  }

  &-user-signin {
    background-color: $red;
    border: 1px solid $red;
    border-radius: 4px;
    display: block;
    line-height: 30px;
    list-style: none;
    text-align: center;
    width: 106px;

    a {
      color: $white;
    }
  }

  &-menu {

    &-link {
      position: relative;
      display: block;
      height: 44px;
      line-height: 32px;
      font-size: 0;
      color: #333;
      
    }

    &-icon {
      font-size: 20px;
      color: #ccc;
      float: left;
    }

    &-mypage-img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }

  &-form {
    position: relative;
    margin-left: 45px;
    width: 100%;

    .input-default {
      background: #f5f5f5;
      border-radius: 4px;
      padding: 0 42px 0 10px;
      width: 100%;
      height: 40px;
    }

    button {
      text-rendering: auto;
      color: buttontext;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
      display: inline-block;
      text-align: center;
      align-items: flex-start;
      cursor: default;
      background-color:  #f5f5f5;
      box-sizing: border-box;
      margin: 0em;
      border-width: 1px;
      border-style: none;
      border-image: initial;
    }

    button:focus {
      outline: none;
    }

    .fa-search {
      cursor: pointer;
      display: flex;
      font-family: FontAwesome;
      justify-content: center;
      position: absolute;
      right: 15px;
      top: 13px;
    }
  }
}

.list-parent {
  font-weight: bold;
}

.icon-like-border {
  i{
  color: #ccc;
  }
}

.category-first {
  background-color: $white;
  box-sizing: border-box;
  display: none;
  font-size: 14px;
  margin: 0;
  width: 100%;
  z-index: 1001;

  &:hover {
    background-color: $red;

    h5 a {
      color: $white;
    }
  }

  a {
    color: $color-black;
    display: block;
    line-height: 44px;
    padding: 0 16px;
  }

  &__wrapper {
    background: $white;
    box-shadow: 0 1px 1px 0 $menu-shadow;
    box-sizing: border-box;
    display: none;
    height: 572px;
    left: -40px;
    position: absolute;
    top: 44px;
    width: 224px;
  }
}

.category-second {
  box-sizing: border-box;
  color: $color-black;
  display: none;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  width: 100%;

  a {
    display: block;
    line-height: 30px;
    padding: 0 10px;
  }

  &:hover {
    background: $color-light-gray;
  }

  &__wrapper {
    background-color: $white;
    border: 0;
    bottom: 0;
    box-shadow: 0 1px 1px 0 $menu-shadow;
    box-sizing: border-box;
    display: none;
    height: 572px;
    left: 224px;
    position: absolute;
    top: 0;
    width: 224px;
  }
}

.category-third {
  box-sizing: border-box;
  color: $color-black;
  font-size: 14px;
  line-height: 1;
  width: 320px;

  &:hover {
    background: $color-light-gray;

    a {
      color: inherit;
    }
  }

  &__wrapper {
    background: $white;
    bottom: 0;
    box-shadow: 0 1px 1px 0 $menu-shadow;
    box-sizing: border-box;
    display: none;
    height: 572px;
    left: 224px;
    position: absolute;
    top: 0;
  }
}

.category-search {
  height: 44px;
  line-height: 44px;
}

@for $i from 1 through 20 {
  .cs-#{$i} {
    top: #{$i * -44}px;
  }
}

@for $i from 1 through 20 {
  .ct-#{$i} {
    top: #{$i * -30}px;
  }
}

.bread-crumbs {
  $black: #000;
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
  z-index: 1;

  label {
    display: inline-block;
  }

  a {
    color: $color-black;
  }

  .breadcrumbs {
    width: 1020px;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    font-size: 14px;
    line-height: 1.2;

    span:last-child {
      font-weight: bold;
    }
  }
}

