.large{
  &-single{
    &-container {
      width: 700px;
      &-content {
        max-width: 320px;
        margin: 0 auto;
      }
      &-inner {
        padding: 64px;
      }
    }
    &-inner {
      border-top: 1px solid #f5f5f5;
      padding: 64px;
      p {
        font-size: 14px;
        margin: 8px 0 0;
        line-height: 1.5;
      }
    }
  }
  &-side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;

  }
  &-content {
    width: 700px;
    float: right;
  }

  &-container {
    margin: 40px auto ;
    width: 1020px;
    height: 100%;
    display: table;
  }

  &-chapter{
    &-head{
      padding: 12px 4%;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      font-size: 24px;
      background-color: #ffffff;
      font-weight: bold;
    }
  }
  &-left {
    float: left;
  }
  &-right {
    float: right;
  }

  &-side-search {
    display: table;
    width: 280px;

    .search-dropdown-content {
      background-color: #ffffff;
      font-weight: normal;
      margin: 40px 0 0;
      padding: 16px;
    }

    .fas {
      color: rgb(136, 136, 136);
    }

    .fa-tag {
      transform: rotate(-45deg);
    }

    .input-default {
      font-weight: normal;
    }

    .select-default {
      font-weight: normal;
    }

    .checkbox-default {
      display: inline-block;
      font-weight: normal;
      vertical-align: middle;
      width: 48%;
      word-break: break-word;
    }
  }
}


