$white : white;
$gray : rgb(170,170,170);
$light_gray : rgb(204,204,204);
.message{
  &-content {
    padding: 24px;
    background: $white;
  }
  &-form {
    p {
    padding: 8px;
    font-size: 14px;
    background: $white;
    }
    .textarea-default {
      background: $white;
      border: 1px solid $light_gray;
      box-sizing: border-box;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      margin: 8px 0 0;
      max-width: 100%;
      min-height: 104px;
      width: 100%;
      padding: 10px;
    }
    .btn-gray {
      background: $gray ;
      border: 1px solid $gray ;
      color: $white;
    }
  }
    &-submit {
      width: 100%;
      margin: 8px 0 0;
      // font-size: 0;
      text-align: center;
  }
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

