.message{
  $white:rgb(250, 250, 250);
  $gray:rgb(170, 170, 170);
  $light-gray:rgb(204, 204, 204);

  &-content {
    padding: 24px;
    background: $white;
  }
  &-form {
    p {
      background: $white;
      font-size: 14px;
      padding: 8px;
    }

    .textarea-default {
      background: $white;
      border: 1px solid $light-gray;
      box-sizing: border-box;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      margin: 8px 0 0;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      width: 100%;
    }

    .btn-gray {
      background: $gray;
      border: 1px solid $gray;
      color: $white;
    }
  }

  &-submit {
    margin: 8px 0 0;
    text-align: center;
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

