$red:#ea352d;
$gray: #aaa;
$white: #fff;

.products-detail-btn {
  background-color: $white;
  margin: 24px auto;
  padding: 8px 16px;
  width: 665px;

  &-style {
    height: 50px;
    line-height: 50px;
    margin: 16px 0;
    text-align: center;

    a {
      color: $white;
    }
  }

  .edit {
    background-color: $red;
    border: 1px solid $red;
  }

  .or {
    margin: 24px auto;
    text-align: center;
  }

  .gray {
    background-color: $gray;
    border: 1px solid $gray;
  }
}
