.mypage__header {
  width: 100%;
}

.l-side-bar {
  width: 280px;
  margin: 40px 40px 40px 0;
}

.mypage__container {
  width: 100vw;
  background-color: #f5f5f5;

  &__box {
    margin: 0 auto 0;
    width: 1020px;
    display: flex;
  }
}

.mypage__content {
  width: 700px;
  margin-top: 40px;

  &__icon {
    position: relative;
    height: 155px;
    padding: 20px;
    background-image: url(image_path("mypage-bg.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
}

.mypage__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  color: #333;

  &:hover {
    opacity: 0.7;
    & h2 {
      text-decoration: underline;
    }
  }

  &__figure {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }
}

.mypage-user {
  margin: 8px 0 0;
  font-size: 14px;
  color: black;
  font-weight: 600;

  &__info {
    margin: 8px 0 0;
    display: flex;
    justify-content: center;
  }

  &__value {
    display: inline-block;
    font-size: 14px;
    color: black;
  }

  &__review {
    margin: 0 0 0 8px;
    font-size: 14px;
  }

  &__products {
    font-size: 14px;
    margin: 0 0 0 16px;
  }

  &__num {
    font-size: 16px;
    margin: 0 0 0 8px;
    font-weight: 600;
  }
}

.mypage-news {
  display: block;
  font-size: 14px;
  background-color: #fff;

  &__menu {
    border: 0;
    background-color: #fff;
    font-size: 0;
    display: flex;
    text-align: center;

    &__left {
      display: block;
      width: 50%;
      height: 70px;
      line-height: 70px;
      border-top: solid 2px red;
      box-sizing: border-box;
    }

    &__right {
      width: 50%;
      display: block;
      background-color: #eee;
      line-height: 70px;
      height: 70px;
    }

    &__tabs {
      display: block;
      height: 100%;
      width: 100%;
      color: #333;
      font-size: 16px;
      font-weight: bold;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__item {
    display: flex;
    box-sizing: border-box;
    min-height: 80px;
    padding: 16px;
    color: #333;
    border-bottom: 1px solid #eee;
    &:hover {
      background-color: #fafafa;
    }
  }

  &__body {
    width: 100%;
    margin-right: 40px;
  }

  &__logo {
    height: 48px;
    width: 48px;
    margin-right: 20px;
    box-sizing: border-box;
  }

  &__time {
    padding-top: 5px;
    color: #888;
  }

  &__click {
    display: flex;
    align-items: center;

    &--icon {
      color: #888;
    }
  }

  &__foot {
    padding: 16px;

    &--link {
      display: block;
      height: 56px;
      margin: 0 auto;
      background-color: #eee;
      color: #333;
      line-height: 56px;
      text-align: center;

      &:hover {
        background-color: #fafafa;
      }
    }
  }
}

.mypage__purchased-items {
  margin: 40px 0 0;
  background-color: #fff;

  &__header {
    padding: 0 4%;
    background-color: #fafafa;
    font-size: 16px;
    line-height: 72px;
    font-weight: bold;
  }

  &__text {
    padding: 160px 0 60px;
    background: url(logo-gray-icon.svg);
    background-repeat: no-repeat;
    background-position: center 40px;
    background-size: 78px 85px;
    text-align: center;
    font-size: 16px;
    color: #ccc;
  }
}
