$color-black: #333;
$color-white: #fff;
$color-gray: #888;
$color-red: #ea352d;
$color-light-gray: #eee;
$color-light-gray2: #ccc;
$color-hover-gray: #fafafa;

.l-side-bar {
  margin: 40px 40px 40px 0;
  width: 280px;
}

.mypage-container {
  background-color: #f5f5f5;
  width: 100vw;

  &__box {
    margin: 0 auto 0;
    width: 1020px;
    display: flex;
  }
}

.mypage-content {
  margin-top: 40px;
  width: 700px;

  &__icon {
    background-image: url('mypage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 155px;
    padding: 20px;
    position: relative;
    text-align: center;
  }
}

.mypage-icon {
  color: $color-black;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {
    opacity: .7;

    h2 {
      text-decoration: underline;
    }
  }

  &__figure {
    border-radius: 50%;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    width: 60px;
  }
}

.mypage-user {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0 0;

  &__info {
    display: flex;
    justify-content: center;
    margin: 8px 0 0;
  }

  &__value {
    display: inline-block;
    font-size: 14px;
  }

  &__review {
    font-size: 14px;
    margin: 0 0 0 8px;
  }

  &__products {
    font-size: 14px;
    margin: 0 0 0 16px;
  }

  &__num {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 8px;
  }
}

.mypage-news {
  background-color: $color-white;
  display: block;
  font-size: 14px;

  &__menu {
    background-color: $color-white;
    border: 0;
    display: flex;
    font-size: 0;
    text-align: center;

    &__left {
      border-top: solid 2px $color-red;
      box-sizing: border-box;
      display: block;
      height: 70px;
      line-height: 70px;
      width: 50%;
    }

    &__right {
      background-color: $color-light-gray;
      display: block;
      height: 70px;
      line-height: 70px;
      width: 50%;
    }

    &__tabs {
      color: $color-black;
      display: block;
      font-size: 16px;
      font-weight: bold;
      height: 100%;
      width: 100%;
    }

    &__tabs:hover {
      opacity: .7;
    }
  }

  &__item {
    border-bottom: 1px solid $color-light-gray;
    box-sizing: border-box;
    color: $color-black;
    display: flex;
    min-height: 80px;
    padding: 16px;

    &:hover {
      background-color: $color-hover-gray;
    }
  }

  &__body {
    margin-right: 40px;
    width: 100%;
  }

  &__logo {
    box-sizing: border-box;
    height: 48px;
    margin-right: 20px;
    width: 48px;
  }

  &__time {
    color: $color-gray;
    padding-top: 5px;
  }

  &__click {
    align-items: center;
    display: flex;

    &--icon {
      color: $color-gray;
    }
  }

  &__foot {
    padding: 16px;

    &--link {
      background-color: $color-light-gray;
      color: $color-black;
      display: block;
      height: 56px;
      line-height: 56px;
      margin: 0 auto;
      text-align: center;
    }

    &--link:hover {
      background-color: $color-hover-gray;
    }
  }
}

.mypage-purchased-items {
  background-color: $color-white;
  margin: 40px 0 0;

  &__header {
    background-color: $color-hover-gray;
    font-size: 16px;
    font-weight: bold;
    line-height: 72px;
    padding: 0 4%;
  }

  &__text {
    background: url('logo-gray-icon.svg');
    background-position: center 40px;
    background-repeat: no-repeat;
    background-size: 78px 85px;
    color: $color-light-gray2;
    font-size: 16px;
    padding: 160px 0 60px;
    text-align: center;
  }
}

.mypage-purchased-myitems {
  background-color: $color-white;

  &__header {
    background-color: $color-hover-gray;
    font-size: 16px;
    font-weight: bold;
    line-height: 72px;
    padding: 0 4%;
  }

  &__text {
    background: url('logo-gray-icon.svg');
    background-position: center 40px;
    background-repeat: no-repeat;
    background-size: 78px 85px;
    color: $color-light-gray2;
    font-size: 16px;
    padding: 160px 0 60px;
    text-align: center;
  }
}

.mypage-items-menu {
  background-color: $color-white;
  border: 0;
  display: flex;
  font-size: 0;
  text-align: center;

  &-left {
    border-top: solid 2px $color-red;
    box-sizing: border-box;
    display: block;
    height: 70px;
    line-height: 70px;
    width: 50%;
  }

  &-right {
    background-color: $color-light-gray;
    display: block;
    height: 70px;
    line-height: 70px;
    width: 50%;
  }

  &-center {
    background-color: $color-light-gray;
    display: block;
    height: 70px;
    line-height: 70px;
    width: 50%;
  }

  &-tabs {
    color: $color-black;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    width: 100%;
  }

  &-tabs:hover {
    opacity: .7;
  }

}
.mypage-tab-content{
  display: block;
  height: 80px;
  padding: 16px;
  color: #333;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;

  .lazyloaded {
    position: relative;
    overflow: hidden;
    float: left;
    width: 48px;
    height: 48px;
    img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
}

  .mypage-item-body{
    margin: 0 0 0 20px;
    float: left;
    .product {
      &-title {
      overflow: hidden;
      display: block;
      display: -webkit-box;
      max-height: 4.4em;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      line-height: 1.5;
      color: #333;
      font-size: 14px;
      }

      &-icons {
        vertical-align: middle;
        color: #ccc;
        span{
          font-size: 16px;
          color: #888;
        }

      .mypage-item-status-blue{
        display: inline-block;
        margin: 8px 0 0 0;
        padding: 5px 6px;
        border-radius: 2px;
        font-size: 12px;
        color: #fff;
        background-color: #0099e8;
        font-weight: 600;

        }
      }
    }
  }
  .icon-arrow-right {
    color: #888;
    float: right;
    margin: 14px 0 0 0;
}
}