$color-bg-gray: #f5f5f5;
$color-white: #fff;
$color-light-gray: #ccc;
$color-red: #ea352d;

.mypage-profile {
  height: 100%;
  width: 100%;
  background-color: $color-bg-gray;

  &__l-side {
    margin: 40px 40px 40px 0;
    width: 280px;
  }

  &__container {
    margin: 0 auto;
    width: 1020px;
    display: flex;
  }

  &__main {
    background-color: $color-white;
    height: 568px;
    margin-top: 40px;
    width: 700px;
  }

  &__head {
    border-bottom: 1px solid $color-bg-gray;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  &__icon {
    background-image: url('mypage-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 72px 16px 24px;
    text-align: center;
  }

  &__picture {
    border-radius: 50%;
    height: 60px;
    vertical-align: middle;
    width: 60px;
  }

  &__input {
    background: $color-white;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    height: 48px;
    line-height: 1.5;
    margin: 0 0 0 8px;
    padding: 10px 16px 8px;
    vertical-align: middle;
    width: 220px;
  }

  &__text {
    padding: 40px 16px;
  }

  &__textarea {
    background: $color-white;
    border: 1px solid $color-light-gray;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    max-width: 100%;
    min-height: 216px;
    padding: 10px;
    width: 100%;
  }

  &__submit-btn {
    background: $color-red;
    border: 1px solid $color-red;
    color: $color-white;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 48px;
    margin: 16px 0 0;
    text-align: center;
    transition: all ease-out .3s;
    width: 100%;
  }
}
