$bordercolor: #eee;
$lightblue: #0099e8;
$formborder: #ccc;
$white: #fff;
$red: #ea352d;
$filefield: #f5f5f5;
$ashgray: #888;
$darkcolor: #333;
$ashcolor: #aaa;

.container {
  background: $white;
  margin: 0 auto;
  width: 700px;
}

.sell {
  &__container__inner h2 {
    font-weight: bold;
  }

  &__head {
    font-size: 22px;
    line-height: 1.5;
    padding: 32px 16px;
    text-align: center;
  }

  &__form {
    border-top: 1px solid $bordercolor;
  }
}

.sell-upload {
  &__box {
    border-top: 1px solid $bordercolor;
    padding: 40px;
    width: 620px;

    h3 {
      font-weight: bold;
    }

    p {
      line-height: 1.5;
      margin: 8px 0 0;
    }
  }

  &__head {
    font-size: 16px;
  }

  &__items {
    display: block;
    float: left;

    ul {
      display: block;
      width: 100%;
    }
  }

  &__drop__box {
    cursor: pointer;
    flex: 1;
    height: 190px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 150px;

    img {
      height: 161px;
      position: relative;
      width: 150px;
      z-index: 2;
    }

    pre {
      font-size: 14px;
      left: 16px;
      line-height: 1.5;
      overflow: auto;
      pointer-events: none;
      position: absolute;
      right: 16px;
      text-align: center;
      top: 20%;
      transform: translate(0, -50%);
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  &__imageview {
    background: $filefield;
    border: 1px dashed $formborder;
    cursor: pointer;
    flex: 1;
    float: left;
    height: 190px;
    margin: 0;
    position: relative;
    text-align: center;
    width: 145px;

    .upload-img {
      height: 100px;
      padding-top: 25px;
      width: 145px;
    }

    .img_del {
      color: $lightblue;
      cursor: pointer;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      text-align: center;
      top: 30px;

      &:hover {
        opacity: .5;
      }
    }
  }
}

.sell-dropbox-container {
  display: block;
  margin: 16px auto 0;
  width: 620px;
}

.sell-content {
  border-top: 1px solid $bordercolor;
  padding: 40px;

  p a {
    color: $lightblue;
    display: inline;
    text-decoration: none;
    word-wrap: break-word;
  }
}

.select-wrap {
  background: $white;
  position: relative;
  font-weight: normal;
}

label {
  display: inline-block;
  margin: 8px 0 0 5px;
}

.input-default {
  background: $white;
  border: 1px solid $formborder;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 16px 8px;
}

.form-group {
  margin: 40px 0 0;

  &:first-child {
    margin: 0;
  }

  label {
    font-weight: 600;
    margin: 8px 0 0;
  }

  select {
    width: 100%;
  }

  .select-wrap {
    background: 0;
    border: 1px solid $formborder;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 38px;
    line-height: 1.5;
    margin: 5px 0;
    padding: 10px 0 0 10px;

    select {
      background-color: $white;
      border: 0;
      height: 30px;
      width: 100%;
    }
  }

  .input-default {
    margin: 8px 0 0;
    width: 100%;
  }
}

.textarea-default {
  background: $white;
  border: 1px solid $formborder;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0 0;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  width: 100%;
}

.sell-sub-head {
  color: $ashgray;
  float: left;
  font-size: 14px;
}

.sell-form-box {
  margin-left: auto;
  width: 400px;
}

.select-default {
  background: 0;
  border: 1px solid $formborder;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  line-height: 1.5;
  margin-top: 5px;
  padding: 0 16px;
  position: relative;
  z-index: 2;
}

.sell-price-input div {
  display: inline-block;
  margin: 0 0 0 5%;
  width: 80%;
}

.sell-price-input .input-default {
  margin: 0;
  text-align: right;
}

.l-right {
  float: right;
}

.sell-price {
  li {
    border-top: 1px solid $formborder;
    padding: 24px 0;
  }

  li:first-child {
    border: 0;
    padding: 0 0 24px;
  }

  .form-group .l-left {
    line-height: 48px;
    width: 50%;
  }

  .bold .l-right {
    font-size: 34px;
  }

  .form-group .l-right {
    width: 50%;
  }

  .sell-price-input div {
    display: inline-block;
    margin: 0 0 0 5%;
    width: 80%;
  }

  .sell-price-input .input-default {
    margin: 0;
    text-align: right;
  }
}

.btn-red {
  background: $red;
  border: 1px solid $red;
  color: $white;
}

.btn-gray {
  background: $ashcolor;
  border: 1px solid $ashcolor;
  color: $white;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  width: 100%;
}

.sell-btn-box {

  p {
    display: inline;
    line-height: 1.5;
    word-wrap: break-word;
  }

  .btn-red {
    margin: 40px 0 0;
  }

  .btn-gray {
    margin: 24px auto 0;
    width: 45%;
  }

}

.bold {
  font-weight: 600;
}

.btn-default {
  border: 1px solid transparent;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 48px;
  text-align: center;
  width: 100%;
}

.form-require {
  background: $red;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  vertical-align: top;
}

.form-question {
  background: $lightblue;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  width: 14px;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}
