.visible-sp {
  display: none;
}
.bold {
  font-weight: 600;
}
[data-toggle='open-app'] {
  display: none;
}
[data-client='visible'] {
  display: none;
}
.f14 {
  font-size: 14px;
}

[data-comment='body'] {
  margin: 16px 0 0;
  padding: 16px;
  background: #eee;
}
* {
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.search-container .items-box, .category-brand-list .items-box, .related-item-column .items-box {
  width: calc(33.3333% - 2.666666px);
  margin: 0 4px 4px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.visible-sp {
  display: none;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}

.f14 {
  font-size: 18px;
}

nav ol, nav ul {
  list-style: none;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}
.f18-24 {
  font-size: 24px;
}

.eagle {
  $white: #fafafa;

  &-carousel {
    float: left;
    font-size: 0;
    height: 0;
    min-height: 1px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
  }

  &-carousel {
    img {
      padding: 0 auto;
      vertical-align: bottom;
      width: 100%;
    }
  }

  &-item {
    float: left;
    min-height: 1px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-item-inner {
    height: 0;
    padding: 0 0 100%;
    position: relative;
    width: 100%;
    }

  &-stage-outer {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 300px;
  }

  &-stage {
    position: relative;
  }

  &-dots {
    background: $white;
    font-size: 0;
    line-height: 0;
  }

  &-dos .active {
    cursor: default;
    opacity: 1;
    }

  &-dot {
    display: inline-block;
    height: 60px;
    max-height: none;
    overflow: hidden;
    position: relative;
    width: 60px;
  }
  
  &-dot-inner {
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
}
