
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  opacity: 0;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);

  &-banner {
    text-align: center;
  }
  &-inner {
    position: relative;
    overflow: hidden;
    width: 95%;
    max-width: 375px;
    margin: 8px auto;
    background: #fff;
  }
  &-body {
    padding: 32px 2.5%;
    line-height: 1.5;
  }
  &-head {
    font-size: 16px;
  }
}
