$color-gray: #888;
$color-pink: #f28fb1;
$color-purple: #be4dda;
$white: #fff;



.eagle {
  $white: #fafafa;

  &-carousel {
    float: left;
    font-size: 0;
    height: 0;
    min-height: 1px;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;

    img {
      padding: 0 auto;
      vertical-align: bottom;
      width: 100%;
    }
  }

  &-item {
    float: left;
    min-height: 1px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }

  &-item-inner {
    height: 0;
    padding: 0 0 100%;
    position: relative;
    width: 100%;
    }

  &-stage-outer {
    object-fit: cover;
    overflow: hidden;
    position: relative;
    width: 300px;
  }

  &-stage {
    position: relative;
  }

  &-dots {
    background: $white;
    font-size: 0;
    line-height: 0;
  }

  &-dos .active {
    cursor: default;
    opacity: 1;
    }

  &-dot {
    display: inline-block;
    height: 60px;
    max-height: none;
    overflow: hidden;
    position: relative;
    width: 60px;
  }

  &-dot-inner {
    height: auto;
    margin-bottom: auto;
    margin-top: auto;
    overflow: hidden;
    position: relative;
    width: auto;
  }
}

.tag-sold-show {
  border-bottom: 80px solid $color-red;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 80px solid transparent;
  bottom: 380px;
  box-sizing: border-box;
  height: 80px;
  margin-bottom: -130px;
  position: relative;
  right: 80px;
  transform: rotate(-45deg);
  width: 80px;

  &__text {
    color: $color-white;
    font-size: 26px;
    position: relative;
    right: 35px;
    top: 45px;
    z-index: 10;
  }
}

.product-btn-sold {
  background-color: $color-gray;
  color: $white;
  cursor: not-allowed;
  font-size: 24px;
  font-weight: 600;
  height: 56px;
  line-height: 56px;
  margin: 16px 0;
  text-align: center;
}

.product-heart-icon {
  color: $color-pink;
}

.product-flag-icon {
  color: $color-purple;
}
