
.sell__wrapper { 
  width: 100%;
  box-sizing: border-box;
  background-color: #f5f5f5;
  header.sell__header { 
    a  { 
      display: block;
    }
    .mercari__icon { width: 10%;} 
  }
  
  .sell__item_clearfix { 
    height: 100%;
    width: calc(100% - 140px);
    margin: auto;
    // margin-top: 40px;
    background-color: white;
    overflow: hidden;
    .sell__info { 
      height: 80px;
      margin-top: 0px;
      padding: 30px 70px;
      border-bottom: 1px solid #f5f5f5;
      .sell__banner { 
        h4 { 
          color: rgb(27, 20, 20);
          font-size: 15px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    .sell__photo { 
      height: 250px;
      margin-top: 20px;
      padding: 10px 30px;
      border-bottom: 1px solid #f5f5f5;
      h4 { 
        color: rgb(27, 20, 20);
        font-size: 12px;
        text-align: left;
        font-weight: bold;
        span { 
          height: 20px;
          border-radius: 2px;
          font-size: 11px;
          text-align: center;
          font-weight: bold;
          padding: 3px;
          color: white;
          background-color: rgb(230, 33, 33);
        }
      }
      img { 
        float: left;
      }
      h5 { 
        color: rgb(27, 20, 20);
        font-size: 10px;
        text-align: left;
        margin-top: 10px;
      }
      .sell__box  { 
        height: 130px;
        border: dashed 1px;
        color: rgb(197, 197, 197);
        background-color: #f5f5f5;
        h4 { 
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: center;
          font-weight: bold;
        }
        h5 { 
          color: rgb(27, 20, 20);
          font-size: 10px;
          text-align: center;
          padding: 10px 40px;
        }
      }
      .sell__eroor_message { 
        h5 { 
          color: red;
          font-size: 12px;
          text-align: left;
          padding: 0px;
        }
      }
    }
    .sell__item_boxone { 
      height: 300px;
      margin-top: 0px;
      padding: 10px 30px;
      border-bottom: 1px solid #f5f5f5;
      .sell__item { 
        h4 { 
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: left;
          font-weight: bold;
          span { 
            height: 20px;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            padding: 3px;
            color: white;
            background-color: rgb(230, 33, 33);
          }
        }
        img { 
          float: left;
        }
      }
      .sell__item_write { 
        height: 50px;
        border-radius: 10px;
        border: solid 1px rgb(196, 196, 196);
        margin-top: 10px;
        h5 { 
          color: rgb(27, 20, 20);
          font-size: 10px;
          text-align: center;
          padding: 10px 40px;
        }
      }
      .sell__eroor_message { 
        h5 { 
          color: red;
          font-size: 12px;
          text-align: left;
          padding: 0px;
        }
      }
      .sell__item__description { 
        h4 { 
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: left;
          font-weight: bold;
          margin-top: 30px;
          span { 
            height: 20px;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            padding: 3px;
            color: white;
            background-color: rgb(230, 33, 33);
          }
        }
        img { 
          float: left;
        }
      }
      .sell__item__description_write { 
        margin-top: 10px;
        height: 120px;
        border: solid 1px rgb(196, 196, 196);
        h5 { 
          color: rgb(27, 20, 20);
          font-size: 10px;
          text-align: center;
          padding: 10px 40px;
        }
      }
      .sell__eroor_message { 
        h5 { 
          color: red;
          font-size: 12px;
          text-align: left;
          padding: 0px;
        }
      }
    }
    .sell__item_boxtwo { 
      height: 300px;
      margin-top: 0px;
      padding: 10px 30px;
      border-bottom: 1px solid #f5f5f5;
      h5 { 
        color: rgb(177, 176, 176);
        font-size: 15px;
        text-align: left;
        padding: 10px 10px;
        font-weight: bold;
      }
      .sell__item_boxindex { 
        .sell__itemcat { 
          h4 { 
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            margin-top: 10px;
            span { 
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell__itemcatbox { 
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196);
        }
        .sell__eroor_message { 
          h5 { 
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            font-weight: normal;
          }
        }
      }
      .sell__itemstate { 
        margin-top: 40px;
        h4 { 
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: left;
          font-weight: bold;
          span { 
            height: 20px;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            padding: 3px;
            color: white;
            background-color: rgb(230, 33, 33);
          }
        }
        img { 
          float: left;
        }
      }
        .sell__itemstatebox { 
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196); 
        }
        .sell__eroor_message { 
          h5 { 
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
          }
        }
    }
    .sell__delivery { 
      height: 500px;
      margin-top: 0px;
      padding: 10px 30px;
      border-bottom: 1px solid #f5f5f5;
      h5 { 
        color: rgb(177, 176, 176);
        font-size: 15px;
        text-align: left;
        padding: 40px 0px;
        font-weight: bold;
      }
      .sell__delivery_boxindex { 
        .sell__delivery_charge { 
          h4 { 
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            span { 
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell__delivery_chargebox { 
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196); 
        }
        .sell__eroor_message { 
          h5 { 
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            font-weight: normal;
          }
        }
        .sell__delivery_region { 
          h4 { 
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            margin-top: 20px;
            span { 
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }  
        }
        .sell__delivery_regionbox { 
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196); 
        }
        .sell__eroor_message { 
          h5 { 
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
          }
        }
        .sell__delivery_days { 
          h4 { 
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            margin-top: 20px;
            span { 
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell__delivery_daysbox { 
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196); 
        }
        .sell__eroor_message { 
          h5 { 
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
          }
        }
      }
    }

    .sell__price { 
      height: 500px;
      margin-top: 0px;
      padding: 5px 30px;
      border-bottom: 1px solid #f5f5f5;
      h5 { 
        color: rgb(177, 176, 176);
        font-size: 14px;
        text-align: left;
        padding: 20px 0px;
        font-weight: bold;
      }
      .sell__price_boxindex { 
        .sell__price_charge_clearfix { 
          .sell__price_charge_left { 
            height: 50px;
            float: left;
            margin-top: 0px;
            width: 40%;
            h4 { 
              color: rgb(27, 20, 20);
              font-size: 12px;
              text-align: left;
              font-weight: bold;
              span { 
                height: 20px;
                border-radius: 2px;
                font-size: 11px;
                text-align: center;
                font-weight: bold;
                padding: 3px;
                color: white;
                background-color: rgb(230, 33, 33);
              }
            }
          }
          .sell__price_charge_right { 
            height: 50px;
            float: right;
            width: 40%;
            border-radius: 10px;
            border: solid 1px rgb(196, 196, 196);
              span { 
                color: rgb(27, 20, 20);
                font-size: 15px;
                text-align: left;
                padding: 10px 10px 0 10px;
                display: inline-block;
                margin-top: 10px;
              }
          }
        }
        .sell__eroor_message { 
          h5 { 
            color: red;
            float: left;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            font-weight: normal;
          }
        }
        .sell__price_chargebox { 
          height: 100px;
          margin-top: 0px;
          border-bottom: 1px solid rgb(196, 196, 196); 
        }
      }
      .sell__price_fee { 
        h5 { 
          color: black;
          font-size: 15px;
          text-align: left;
          margin-top: 10px;
          font-weight: normal;
        }
        .sell__price_feebox { 
          height: 60px;
          border-bottom: 1px solid rgb(196, 196, 196);  
        }
      }
      .sell__sales_profit { 
        h4 { 
          color: rgb(27, 20, 20);
          font-size: 15px;
          text-align: left;
          font-weight: bold;
          margin-top: 10px;
        }
        .sell__sales_profitbox { 
          height: 60px;
          border-bottom: 1px solid rgb(196, 196, 196);  
        }
      }
    }

    .sell__tips { 
      height: 100px;
      margin-top: 0px;
      padding: 10px 30px;
      h5 { 
        color: rgb(27, 20, 20);
        font-size: 13px;
        text-align: left;
        span { 
          color: rgb(39, 197, 250);
        }
      }
    }
    .sell__btn { 
      height: 40px;
      margin: auto;
      width: calc(100% - 200px);
      margin-top: 30px;
      background-color: rgb(245, 53, 53); 
      h5 { 
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
      }
    }
    .sell__return_btn { 
      height: 40px;
      width: calc(100% - 280px);
      background-color: grey;
      margin: auto; 
      margin-top: 10px;
      margin-bottom: 40px;
      h5 { 
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
  .sell__footer { 
    .sell__rules { 
      margin-top: 35px;
      h6 { 
        color: rgb(27, 20, 20);
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
      }
    }
    .sell__footer_right_one { 
      text-align: center;
    }
    .sell__last_year { 
      h6 { 
        color: rgb(27, 20, 20);
        font-size: 10px;
        text-align: center;
      }
    }
  }
}