
.sell-wrapper {
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  width: 100%;

  .logo-space {
    a {
      display: block;
    }

    .mercari-icon {width: 10%;}
  }

  .sell-item-clearfix {
    height: 100%;
    width: calc(100% - 140px);
    margin: auto;
    // margin-top: 40px;
    background-color: white;
    overflow: hidden;
    .sell-info {
      height: 80px;
      margin-top: 0px;
      padding: 30px 70px;
      border-bottom: 1px solid rgb(245, 245, 245);
      .sell-banner {
        h4 {
          color: rgb(27, 20, 20);
          font-size: 15px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
    .sell-photo {
      height: 250px;
      margin-top: 20px;
      padding: 10px 30px;
      border-bottom: 1px solid rgb(245, 245, 245);
      h4 {
        color: rgb(27, 20, 20);
        font-size: 12px;
        text-align: left;
        font-weight: bold;
        span {
          height: 20px;
          border-radius: 2px;
          font-size: 11px;
          text-align: center;
          font-weight: bold;
          padding: 3px;
          color: white;
          background-color: rgb(230, 33, 33);
        }
      }
      img {
        float: left;
      }
      h5 {
        color: rgb(27, 20, 20);
        font-size: 10px;
        text-align: left;
        margin-top: 10px;
      }
      .sell-box  {
        height: 130px;
        border: dashed 1px;
        color: rgb(197, 197, 197);
        background-color: rgb(245, 245, 245);
        h4 {
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: center;
          font-weight: bold;
        }
        h5 {
          color: rgb(27, 20, 20);
          font-size: 10px;
          text-align: center;
          padding: 10px 40px;
        }
      }
      .sell-eroor-message {
        h5 {
          color: red;
          font-size: 12px;
          text-align: left;
          padding: 0px;
        }
      }
    }
    .sell-item-boxone {
      height: 300px;
      margin-top: 0px;
      padding: 10px 30px;
      border-bottom: 1px solid rgb(245, 245, 245);
      .sell-item {
        h4 {
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: left;
          font-weight: bold;
          span {
            height: 20px;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            padding: 3px;
            color: white;
            background-color: rgb(230, 33, 33);
          }
        }
        img {
          float: left;
        }
      }
      .sell-item-write {
        height: 50px;
        border-radius: 10px;
        border: solid 1px rgb(196, 196, 196);
        margin-top: 10px;
        h5 {
          color: rgb(27, 20, 20);
          font-size: 10px;
          text-align: center;
          padding: 10px 40px;
        }
      }
      .sell-eroor-message {
        h5 {
          color: red;
          font-size: 12px;
          text-align: left;
          padding: 0px;
        }
      }
      .sell-item--description {
        h4 {
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: left;
          font-weight: bold;
          margin-top: 30px;
          span {
            height: 20px;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            padding: 3px;
            color: white;
            background-color: rgb(230, 33, 33);
          }
        }
        img {
          float: left;
        }
      }
      .sell-item--description-write {
        margin-top: 10px;
        height: 120px;
        border: solid 1px rgb(196, 196, 196);
        h5 {
          color: rgb(27, 20, 20);
          font-size: 10px;
          text-align: center;
          padding: 10px 40px;
        }
      }
      .sell-eroor-message {
        h5 {
          color: red;
          font-size: 12px;
          text-align: left;
          padding: 0px;
        }
      }
    }
    .sell-item-boxtwo {
      height: 300px;
      margin-top: 0px;
      padding: 10px 30px;
      border-bottom: 1px solid rgb(245, 245, 245);
      h5 {
        color: rgb(177, 176, 176);
        font-size: 15px;
        text-align: left;
        padding: 10px 10px;
        font-weight: bold;
      }
      .sell-item-boxindex {
        .sell-itemcat {
          h4 {
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            margin-top: 10px;
            span {
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell-itemcatbox {
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196);
        }
        .sell-eroor-message {
          h5 {
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            font-weight: normal;
          }
        }
      }
      .sell-itemstate {
        margin-top: 40px;
        h4 {
          color: rgb(27, 20, 20);
          font-size: 12px;
          text-align: left;
          font-weight: bold;
          span {
            height: 20px;
            border-radius: 2px;
            font-size: 11px;
            text-align: center;
            font-weight: bold;
            padding: 3px;
            color: white;
            background-color: rgb(230, 33, 33);
          }
        }
        img {
          float: left;
        }
      }
        .sell-itemstatebox {
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196);
        }
        .sell-eroor-message {
          h5 {
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
          }
        }
    }
    .sell-delivery {
      height: 500px;
      margin-top: 0px;
      padding: 10px 30px;
      border-bottom: 1px solid rgb(245, 245, 245);
      h5 {
        color: rgb(177, 176, 176);
        font-size: 15px;
        text-align: left;
        padding: 40px 0px;
        font-weight: bold;
      }
      .sell-delivery-boxindex {
        .sell-delivery-charge {
          h4 {
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            span {
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell-delivery-chargebox {
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196);
        }
        .sell-eroor-message {
          h5 {
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            font-weight: normal;
          }
        }
        .sell-delivery-region {
          h4 {
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            margin-top: 20px;
            span {
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell-delivery-regionbox {
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196);
        }
        .sell-eroor-message {
          h5 {
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
          }
        }
        .sell-delivery-days {
          h4 {
            color: rgb(27, 20, 20);
            font-size: 12px;
            text-align: left;
            font-weight: bold;
            margin-top: 20px;
            span {
              height: 20px;
              border-radius: 2px;
              font-size: 11px;
              text-align: center;
              font-weight: bold;
              padding: 3px;
              color: white;
              background-color: rgb(230, 33, 33);
            }
          }
        }
        .sell-delivery-daysbox {
          margin-top: 10px;
          height: 50px;
          border-radius: 10px;
          border: solid 1px rgb(196, 196, 196);
        }
        .sell-eroor-message {
          h5 {
            color: red;
            font-size: 12px;
            text-align: left;
            padding: 0px;
          }
        }
      }
    }

    .sell-price {
      height: 500px;
      margin-top: 0px;
      padding: 5px 30px;
      border-bottom: 1px solid rgb(245, 245, 245);
      h5 {
        color: rgb(177, 176, 176);
        font-size: 14px;
        text-align: left;
        padding: 20px 0px;
        font-weight: bold;
      }
      .sell-price-boxindex {
        .sell-price-charge-clearfix {
          .sell-price-charge-left {
            height: 50px;
            float: left;
            margin-top: 0px;
            width: 40%;
            h4 {
              color: rgb(27, 20, 20);
              font-size: 12px;
              text-align: left;
              font-weight: bold;
              span {
                height: 20px;
                border-radius: 2px;
                font-size: 11px;
                text-align: center;
                font-weight: bold;
                padding: 3px;
                color: white;
                background-color: rgb(230, 33, 33);
              }
            }
          }
          .sell-price-charge-right {
            height: 50px;
            float: right;
            width: 40%;
            border-radius: 10px;
            border: solid 1px rgb(196, 196, 196);
              span {
                color: rgb(27, 20, 20);
                font-size: 15px;
                text-align: left;
                padding: 10px 10px 0 10px;
                display: inline-block;
                margin-top: 10px;
              }
          }
        }
        .sell-eroor-message {
          h5 {
            color: red;
            float: left;
            font-size: 12px;
            text-align: left;
            padding: 0px;
            font-weight: normal;
          }
        }
        .sell-price-chargebox {
          height: 100px;
          margin-top: 0px;
          border-bottom: 1px solid rgb(196, 196, 196);
        }
      }
      .sell-price-fee {
        h5 {
          color: black;
          font-size: 15px;
          text-align: left;
          margin-top: 10px;
          font-weight: normal;
        }
        .sell-price-feebox {
          height: 60px;
          border-bottom: 1px solid rgb(196, 196, 196);
        }
      }
      .sell-sales-profit {
        h4 {
          color: rgb(27, 20, 20);
          font-size: 15px;
          text-align: left;
          font-weight: bold;
          margin-top: 10px;
        }
        .sell-sales-profitbox {
          height: 60px;
          border-bottom: 1px solid rgb(196, 196, 196);
        }
      }
    }

    .sell-tips {
      height: 100px;
      margin-top: 0px;
      padding: 10px 30px;
      h5 {
        color: rgb(27, 20, 20);
        font-size: 13px;
        text-align: left;
        span {
          color: rgb(39, 197, 250);
        }
      }
    }
    .sell-btn {
      height: 40px;
      margin: auto;
      width: calc(100% - 200px);
      margin-top: 30px;
      background-color: rgb(245, 53, 53);
      h5 {
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
      }
    }
    .sell-return-btn {
      height: 40px;
      width: calc(100% - 280px);
      background-color: grey;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 40px;
      h5 {
        color: white;
        font-size: 15px;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
  .sell-footer {
    .sell-rules {
      margin-top: 35px;
      h6 {
        color: rgb(27, 20, 20);
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
      }
    }
    .sell-footer-right-one {
      text-align: center;
    }
    .sell-last-year {
      h6 {
        color: rgb(27, 20, 20);
        font-size: 10px;
        text-align: center;
      }
    }
  }
}