.sell-tips {
  height: 100px;
  margin-top: 0;
  padding: 10px 30px;

  h5 {
    color: $color-black;
    font-size: 13px;
    text-align: left;

    span {
      color: $color-light-blue;
    }
  }
}
