.sell-delivery {
  border-bottom: 1px solid $color-light-gray;
  height: 570px;
  margin-top: 0;
  padding: 10px 30px;

  h5 {
    color: $color-light-gray;
    font-size: 15px;
    font-weight: bold;
    padding: 40px 0;
    text-align: left;
  }

  @import "./sellbox-4";
}
