.sell-btn {
  height: 40px;
  margin: auto;
  width: calc(100% - 200px);
  margin-top: 30px;
  background-color: rgb(245, 53, 53);
  h5 {
    color: $color-white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
}

.sell-return-btn {
  height: 40px;
  width: calc(100% - 280px);
  background-color: grey;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  h5 {
    color: $color-white;
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
}