.sell-btn {
  background-color: $color-red;
  height: 40px;
  margin: auto;
  margin-top: 30px;
  width: calc(100% - 200px);

  h5 {
    color: $color-white;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
  }
}

.sell-return-btn {
  background-color: $color-light-gray;
  height: 40px;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 10px;
  width: calc(100% - 280px);

  h5 {
    color: $color-white;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
  }
}
