.sell-rules {
  margin-top: 35px;

  h6 {
    color: $color-black;
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
  }
}

.sell-footer-right-one {
  text-align: center;
}

.sell-last-year {
  h6 {
    color: $color-black;
    font-size: 10px;
    text-align: center;
  }
}
