.sell-price-boxindex {
  .sell-price-charge-clearfix {
    @import "./sellpricecharge";
  }

  .sell-eroor-message {
    h5 {
      color: $color-red;
      float: left;
      font-size: 12px;
      font-weight: normal;
      padding: 0;
      text-align: left;
    }
  }

  .sell-price-chargebox {
    border-bottom: 1px solid $color-light-gray;
    height: 100px;
    margin-top: 0;
  }
}

.sell-price-fee {
  h5 {
    color: $color-black;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    text-align: left;
  }

  .sell-price-feebox {
    border-bottom: 1px solid $color-light-gray;
    height: 60px;
  }
}

.sell-sales-profit {
  h4 {
    color: $color-black;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
  }

  .sell-sales-profitbox {
    border-bottom: 1px solid $color-light-gray;
    height: 60px;
  }
}
