.sell-item-boxtwo {
  border-bottom: 1px solid $color-light-gray;
  height: 300px;
  margin-top: 0;
  padding: 10px 30px;

  h5 {
    color: $color-light-gray;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }

  @import "./sellbox-3";
}
