
.top-page__wrapper{
  width: 100%;
  box-sizing: border-box;
  background-color: whitesmoke;

  div.top-page__pickupone {
    width: 100%;
    box-sizing: border-box;
    div.top-page__categori {
      height: 300px;
      width: 100%;
      margin-top: 80px;
      padding: 0 40px;
      box-sizing: border-box;
      .top-page__banner {
        background-image: url();
      }
      // <h4>＜キャンプ用品大特集！！＞</h4>
      h4 {
        color: rgb(27, 20, 20);
        font-size: 30px;
        text-align: center;
        margin-top: 80px;
      }
      div.top-page__bannerimg {
        background-color: white;
        margin: auto;
      }
    }
    div.top-page__pickupcat {
      width: 100%;
      height: 50px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h4 {
        color: rgb(46, 40, 40);
        font-size: 25px;
        text-align: center;
        font-weight: bold;
      }
    }
    div.top-page__categoritwo {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      text-align: right;
      box-sizing: border-box;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__categorithree {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      text-align: right;
      box-sizing: border-box;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__categorifour {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      text-align: right;
      box-sizing: border-box;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__categorifive {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      text-align: right;
      box-sizing: border-box;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__pickupcattwo {
      width: 100%;
      height: 50px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h4 {
        color: rgb(46, 40, 40);
        font-size: 25px;
        text-align: center;
        font-weight: bold;
      }
    }
    div.top-page__categorisix {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      text-align: right;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__categoriseven {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      box-sizing: border-box;
      padding: 0 40px;
      text-align: right;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__categorieight {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      text-align: right;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
    div.top-page__categorinine {
      height: 400px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      h5 {
        color: rgb(0, 172, 252);
        font-weight: bold;
        font-size: 20px;
        height: 30px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      div.top-page__item_clearfix {
        display: flex;
        justify-content: center;
        height: 300px;
        margin-top: 0px;
        padding: 0 40px;
        box-sizing: border-box;
        width: 100%;
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
        div.top-page__item {
          height: 300px;
          margin: 0 15px;
          width: 220px;
          background-color: white;
          .top-page__itemimg{
            height: 200px;
            width: 220px;
          }
          .top-page__itemnamebox{
            height: 100px;
            width: 220px;
            padding: 10px;
            .top-page__itemname{
              height: 30px;
                h6 {
                  color: rgb(63, 52, 52);
                  font-size: 15px;
                  height: 30px;
                  text-align: left;
                  margin-top: 10px;
                  margin-bottom: 10px;
                }
            }
            .top-page__itempricebox{
              height: 30px;
              width: 200px;
              .top-page__itemprice{
                height: 30px;
                float: left;
                width: 100px;
                  h5 {
                    color: rgb(63, 52, 52);
                    font-size: 20px;
                    height: 20px;
                    text-align: left;
                    margin-top: 3px;
                    margin-bottom: 10px;
                    font-weight: bold;
                  }
              }
              .top-page__iconlike{
                height: 30px;
                width: 60px;
                float: right;
                padding: 3px 5px 0 0;
                  span{
                    font-size: 15px;
                    float: right;
                    padding: 3px 5px 0 0;
                  }
              }
            }
          } 
        }
      }
    }
    div.top-page__categorisee {
      width: calc(100% - 50px);
      box-sizing: border-box;
      height: 30px;
      margin-top: 0px;
      padding: 0 40px;
      box-sizing: border-box;
      text-align: right;
      h6 {
        color: rgb(0, 172, 252);
        font-size: 10px;
      }
    }
  }
  div.top-page__senden {
    width: 100%;
    box-sizing: border-box;
    div.top-page__senden {
      height: 200px;
      margin-top: 0px;
      padding: 0 40px;
      h4 {
        color: rgb(27, 20, 20);
        font-size: 30px;
        text-align: center;
      }
      div.top-page__sendenimg {
        margin: auto;
      }
    }
  }
}