!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title mercari
  %body
    .top-page__wrapper
      %header.top-page__header
        .top-page__upper-message
        .top-page__lower-message
      .top-page__pickupone
        .top-page__categori
          %a.top-page__banner
          %h4 キャンプ用品大特集！！
          .top-page__bannerimg
            %img{:src => ""}/
        .top-page__pickupcat
          %h4 ピックアップカテゴリー
        .top-page__categoritwo
          %h5 レディース新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__categorithree
          %h5 メンズ新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__categorifour
          %h5 ベビー・キッズ新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__categorifive
          %h5 コスメ・美容新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__pickupcattwo
          %h4 ピックアップブランド
        .top-page__categorisix
          %h5 シャネル新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__categoriseven
          %h5 ルイ ヴィトン新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__categorieight
          %h5 シュプリーム新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
        .top-page__categorinine
          %h5 ナイキ 新着アイテム
          .top-page__item_clearfix
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
            .top-page__item
              %a{:href => ""}
                .top-page__itemimg
                  %img{:src => ""}/
        .top-page__categorisee
          %h6 全ての商品をみる
      .top-page__senden
        .top-page__senden
          %h4 ＜スマホでカンタンフリマアプリ！＞
          .top-page__sendenimg
            %img{:src => ""}/
      %footer.top-page__footer
        .top-page__footertwo
          .top-page__footer_left_one
            %h4 メルカリについて
            %h6 会社概要（運営会社）
            %h6 採用情報
            %h6 プレリリース
            %h6 公式ブログ
            %h6 メルカリロゴ利用ガイドライン
          .top-page__footer_right_one
            %h4 ヘルプ＆ガイド
            %h6 メルカリガイド
            %h6
              らくらくメルカリ便/h6&gt;
              %h6 ゆうゆうメルカリ便
              %h6 大型メルカリ便
              %h6 車体取引ガイド
              %h6 メルカリあんしん・あんぜん宣言
              %h6 偽ブランド品撲滅への取り組み
              %h6 メルカリボックス
        .top-page__footerthree
          .top-page__footer_down
            %h4 プライバシーと利用規約
            %h6 プライバシーポリシー
            %h6 メルカリ利用規約
            %h6 安心スマホサポート制度に関する利用規約
            %h6 コンプライアンスポリシー
          .top-page__footer_right_two
            %h6 個人データの安全管理に係る基本方針
            %h6 特定商取引に関する表記
            %h6 資金決済法に基づく表示
            %h6 法令遵守と犯罪防止のために
          .top-page__footer_left_three
            %h4 国
            %h6 日本
