<!DOCTYPE html>
<html>
  <head>
  <title>mercari</title>
  </head>
  <body>
    <div class ="top-page__wrapper">
    <header class="top-page__header">
          <div class="top-page__upper-message">
          </div>
          <div class="top-page__lower-message">
          </div>
    </header>
      <div class="top-page__pickupone"> 
        <div class="top-page__categori"> 
          <a class="top-page__banner">
          </a>  
          <h4>キャンプ用品大特集！！</h4>
          <div class="top-page__bannerimg">
            <img src=""> 
          </div>
        </div>
        <div class="top-page__pickupcat">   
          <h4>ピックアップカテゴリー</h4>
        </div>
        <div class="top-page__categoritwo">   
          <h5>レディース新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる1</h6>
        </div>
        <div class="top-page__categorithree">   
          <h5>メンズ新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる2</h6>
        </div>
        <div class="top-page__categorifour">   
          <h5>ベビー・キッズ新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる3</h6>
        </div>
        <div class="top-page__categorifive">   
          <h5>コスメ・美容新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる3</h6>
        </div>
        <div class="top-page__pickupcattwo">   
          <h4>ピックアップブランド</h4>
        </div>
        <div class="top-page__categorisix">   
          <h5>シャネル新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる1</h6>
        </div>
        <div class="top-page__categoriseven">   
          <h5>ルイ ヴィトン新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる2</h6>
        </div>
        <div class="top-page__categorieight">   
          <h5>シュプリーム新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる3</h6>
        </div>
        <div class="top-page__categorinine">   
          <h5>ナイキ 新着アイテム</h5>
          <div class="top-page__item_clearfix">
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
            <div class="top-page__item">
              <a href="">
                <div class="top-page__itemimg">
                <img src=""> 
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="top-page__categorisee"> 
          <h6>全ての商品をみる3</h6>
        </div>
      </div>
      <div class="top-page__senden"> 
        <div class="top-page__senden">   
          <h4>＜スマホでカンタンフリマアプリ！＞</h4>
          <div class="top-page__sendenimg">
            <img src=""> 
          </div>
        </div>
    </div>
    <footer class="top-page__footer"> 
      <div class="top-page__footertwo"> 
        <div class="top-page__footer_left_one">   
          <h4>メルカリについて</h4>
          <h6>会社概要（運営会社）</h6>
          <h6>採用情報</h6>
          <h6>プレリリース</h6>
          <h6>公式ブログ</h6>
          <h6>メルカリロゴ利用ガイドライン</h6>
        </div>
        <div class="top-page__footer_right_one">   
          <h4>ヘルプ＆ガイド</h4>
          <h6>メルカリガイド</h6>
          <h6>らくらくメルカリ便/h6>
          <h6>ゆうゆうメルカリ便</h6>
          <h6>大型メルカリ便</h6>
          <h6>車体取引ガイド</h6>
          <h6>メルカリあんしん・あんぜん宣言</h6>
          <h6>偽ブランド品撲滅への取り組み</h6>
          <h6>メルカリボックス</h6>
        </div>
      </div>
      <div class="top-page__footerthree">
        <div class="top-page__footer_down">
          <h4>プライバシーと利用規約</h4>
          <h6>プライバシーポリシー</h6>
          <h6>メルカリ利用規約</h6>
          <h6>安心スマホサポート制度に関する利用規約</h6>
          <h6>コンプライアンスポリシー</h6>
        </div>
        <div class="top-page__footer_right_two">
          <h6>個人データの安全管理に係る基本方針</h6>
          <h6>特定商取引に関する表記</h6>
          <h6>資金決済法に基づく表示</h6>
          <h6>法令遵守と犯罪防止のために</h6>
        </div>
        <div class="top-page__footer_left_three">
          <h4>国</h4>
          <h6>日本</h6>
        </div>
      </div>
    </footer>
  </body>
</html>
